
<mat-toolbar>My App</mat-toolbar>
<div class="button-row">
<a mat-raised-button routerLink="/home">Home</a>
<a mat-raised-button routerLink="/about">About</a>
</div>

<!--
 <div >
  <mat-grid-list  cols="6" rowHeight="4:4" gutterSize="10">
    <mat-grid-tile [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</mat-grid-tile>
    <mat-grid-tile [routerLink]="['/about']" routerLinkActive="router-link-active" >About</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>
-->
<router-outlet></router-outlet>